.timer {
  display: flex;
  gap: 12px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.value {
  font-size: 38px;
  font-family: 'Helvetica Neue', sans-serif;
}
.label {
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Oxygen-Sans', serif;
}
