li {
    display: flex; 
    flex-direction: column;
    width: 200px;
    width: calc(100% / 5);
}

  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 1500px;
    gap: 40px 20px;
  }
  
  /* .movie-card {
    position: relative;
    display: flex;
    width: 300px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  } */
  
  /* .movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  } */
  .movie-list img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .movie-info {
    padding: 15px;
    background-color: rgb(244, 244, 244);
    height: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .movie-info h2 {
    margin: 0;
    font-size: 20px;
    color: #333;
  }
  
  .movie-info p {
    margin: 5px 0;
    font-size: 12;
    color: #777;
  }

/* button */
  .button-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .load-more.load-more-hidden {
    display: none;
  }
  .load-more {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  }
  .load-more:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }