:root {
  --yellow: #ffb13b;
  --white: #ffffff;
  --main-dark: #2b3f5b;
  --bg-color: #f6f5f2;
  --grey: #d3cfc3;
  --dark-yellow: #cc8e1e;
  --dark-yellow-alfa: rgba(204, 142, 30, 0.1);
  --bg-tab-title: #faf4e8;
  --bg-tab-row: #f1efe9;
}

body {
  color: var(--main-dark);
  background-color: var(--bg-color);
  font-family: 'Inter Display', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 375px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 80px;
  }
}

@font-face {
  font-family: 'Oranienbaum';
  src: url('../../assets/fonts/Oranienbaum/Oranienbaum-Regular.woff2')
      format('woff2'),
    url('../../assets/fonts/Oranienbaum/Oranienbaum-Regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Display';
  src: url('../../assets/fonts/InterDisplay/InterDisplay-Regular.woff2')
      format('woff2'),
    url('../../assets/fonts/InterDisplay/InterDisplay-Regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Display';
  src: url('../../assets/fonts/InterDisplay/InterDisplay-Medium.woff2')
      format('woff2'),
    url('../../assets/fonts/InterDisplay/InterDisplay-Medium.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
